body { 
  padding: 2.5em 1.25em 1.25em; 
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

code {
  max-width: 100%;
  overflow: hidden;
  background: black;
  color: white;
}

.code-block {
  margin-top: 1em;
  display: block;
}

.journeys-wrapper, #journeys {
  margin-top: 2em;
}