#root {
  padding: 2em;
  max-width: 800px;
  margin: 0 auto;
}

code {
  max-width: 100%;
  overflow: hidden;
  background: var(--p-background);
  color: var(--p-text);
}

.capitalize {
  text-transform: capitalize;
}

.spark-wrapper {
  padding: 10px 0;
}

#table-wrapper {
  max-width: 800px;

  .Polaris-LegacyCard {
    overflow: hidden;

    .donut-wrapper {
      div[class*="_DonutWrapper_"] {
        height: 100%;

        div[class*="_Container_"] {
          overflow-y: auto !important;
          height: 100%;
          flex-wrap: nowrap;
          padding: 1em 0 1.25em 0;
        }
      }
      
      button span {
        text-transform: capitalize;
      }
    }
  }

  .Polaris-DataTable__Cell {
    white-space: pre-wrap;
  } 
}

.flex-text > * {
  display: flex;
  align-items: center;
  gap: 0.5em;

  .Polaris-Icon {
    cursor: pointer;
    width: 15px;
    height: 15px;
  }
}

// https://github.com/Shopify/polaris/issues/9337#issuecomment-1571345289
.Polaris-AlphaTabs__Outer,
.Polaris-Tabs__Outer {
  height: auto;
}